<div className="App">
  <header>
    <h1>Sofka Chat Angular</h1>
    <div *ngIf="user !== null">
      <button (click)="signOut()">
        Sign Out [{{user?.email}}]
      </button>
    </div>
  </header>

  <section *ngIf="user !== null">
    <ul>
      <li *ngFor="let item of items | async">
        <img src="{{ item.photoURL }}" alt="avatar">
        {{item.displayName}}
        {{item.text}}
      </li>
    </ul>
    <input type="text" placeholder="Ingresar algo aquí" [(ngModel)]="formValue">
    <button (click)="sendMessage()" [disabled]="!formValue">Send</button>
  </section>

  <section *ngIf="user === null">
    <button (click)="signIn()">
      Sign In
    </button>
  </section>
</div>